<head>
<style>
#last{
margin:10px;
}
#links{
padding:10px 0px 0px 0px;
margin-bottom: 30px;
float: right;
}
#final{
border-left: 1px solid #999999;
border-right:1px solid #999999;
}
#links li{
display: inline;
padding: 0px 10px;
}
#links a:link{
text-decoration:none;
color:#000000;
}
</style>
</head>
<body>
 <div id="last">
	<ul id="links">
        <li><a href="#">home</a></li>
	<li id="final"><a  href="#">about</a></li>
	<li><a href="#">idea</a></li>
        </ul>
 </div>

</body>
